# OSX
.DS_Store

# node.js
node_modules/
npm-debug.log
yarn-error.log

# ignore all logs
debug.log
*.log

# ignore db
db/trackers.db

# ignore .vscode
.vscode/ 
.prettierrc

# ignore .env
.env

#uploads
uploads/
