# OSX
.DS_Store

# node.js
node_modules/
package-lock.json*
npm-debug.log
yarn-error.log

# ignore all logs
*.log

# ignore db
db/trackers.db

# ignore .vscode
.vscode/ 
.prettierrc

ignore .env
.env

#uploads
uploads/*

#build
build/*

#converter
cjconverter/
output/